.main-container {
  position: fixed;
  margin: auto;
  bottom: 5px;
  width: 100%;
  min-height: 300px;
  background-color: #004134;
  padding: 10px;
  left: 0;
}
.normal-btn-main-container {
  display: flex;
  width: 100%;
  color: #ffffff;
  justify-content: center;
}

.normal-btn-main-container > button {
  margin: 3px;
  text-align: center;
  max-width: 94px;
  width: 6%;
  font-size: 1.05rem;
  font: 400 11px system-ui;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  outline: none;
  color: #ffffff;
}
.space-btn {
  max-width: 500px !important;
  color: #ffffff;
  margin: 3px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.keyboard-key-dark {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.keyboard-key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.keyboard-key--active::after {
  background-color: #08ff00;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
